<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMkD67e9siMWPbhVVvPRAUy3kex8Jxmew</string>
	<key>GCM_SENDER_ID</key>
	<string>18549572937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.radiantapps.WashUTutor</string>
	<key>PROJECT_ID</key>
	<string>washututor-3d8e8</string>
	<key>STORAGE_BUCKET</key>
	<string>washututor-3d8e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18549572937:ios:edd3c2b3313511c11e8698</string>
</dict>
</plist>